@import '../../../../variables.scss';

table {
  width: 100%;
  background-color: $primary-color;
  opacity: .9;
}

table th,
td {
  color: white;
  height: 60px;
}

.scrim-list-team-entity {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.scrim-list-team-entity img {
  width: 50px;
  height: 50px;
  display: flex;
  padding: 0;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 5px;
}

.scrim-list-team-entity p {
  margin: 0;
  display: flex;
  align-items: center;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #423E2A;
}

.scrims-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bg-image__custom {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/bg-image-9.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-background__custom{
  position: absolute;
  top: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: rgba(6,32,56,1);
}

.gameStatus-info{
  width: 140px;
  display: flex;
  justify-content: center;
  padding:7px;
  border-radius: 3px;
}
.gameStatus-info.not-started{
  background-color: $alert-warning;
}
.gameStatus-info.ready{
  background-color: $alert-ready;
}
.gameStatus-info.started{
  background-color: $alert-success;
}
.gameStatus-info.finished{
  background-color: $grey-900;
}
.gameStatus-info p{
  margin: 0;
  color: white;
  font-size: 14px;
  font-weight: 600;
}