@import '../../../variables.scss';

.page-hero {
  position: absolute;
  height: 200px;
  padding: 16px 0px;
  left: 0;
  right: 0;
  top: 0;
}

.page-hero h2 {
  padding: 0px;
  margin: 0px;
}

.page-hero-middle {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  background-size: repeat;
}

.page-hero-middle h2 {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 10px 15px;
  background-color: $primary-color-light;
  height: 50px;
  display:flex;
  align-items: center;
}

.avatar-image{
  width: 100px;
  height: 100px;
  margin-right: 25px;
  object-fit: cover;
  border-radius: 5px;
}