@import '../../../../variables.scss';

.scrim-form-container {
  margin: auto;
  background-color: $primary-color-light;
  overflow-y: auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 325px;
}

.scrim-form-header {
  padding: 0 0 30px 0;
  position: relative;
}

.create-scrim-form {
  display: flex;
  flex-direction: column;
}

.create-scrim-form h5 {
  font-weight: 600;
  font-size: 1rem;
  color: white;
}

.create-scrim-form__option {
  font-size: .925rem;
}

.create-scrim-form__select {
  font-size: .925rem;
}

.create-scrim-form__label {
  font-size: .925rem;
}

.create-scrim-form__input {
  font-size: .925rem;
}

.create-scrim-form__input::placeholder {
  font-size: .925rem;
}

.create-scrim-form__button {
  background-color: $primary-color;
  font: inherit;
  color: white;
  cursor: pointer;
  outline: inherit;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px 30px;
  transition: .1s;
  margin: 0;
  margin-top: 10px;
}

.create-scrim-form__button:hover {
  background-color: $primary-hover-color;
}

::ng-deep .mat-mdc-form-field-hint-spacer {
  height: 20px;
}

.cs-player-selection-state p{
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  color: #f44336;
}

.cs-players-selection-content{
  max-height: 200px;
  overflow-y: auto;
}

.cs-players-selection-container{
  margin-bottom: 10px;
}

.cs-players-selection-container h5{
  margin: 0;
  margin-bottom: 10px;
}

.cs-players-selection-container p{
  margin: 0;
  color: white;
}

.cs-start-date-time{
  display:flex;
  flex-direction: column;
  margin-top: 10px;
}

.cs-start-date-time h5{
  margin-bottom: 10px;
}

.cs-match-otions{
  display:flex;
  flex-direction: column;
}

.create-scrim-form__field{
  width: 100%;
}
.create-scrim-form__input{
  width: 100%;
}
.cs-date-picker-field{
  width: 100%;
}

#cs-no-error{
  color: white;
}

.player-label {
  margin-bottom: 10px;
  font-weight: 500;
}

.player-avatar{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.cs-custom-checkbox {
  display: flex;
  flex-direction: row;
}

.cs-match-options{
  position: relative;
}

.cs-time-wrapper{
  position: relative;
}

.cs-date-wrapper{
  position: relative;
}

.cs-match-options h5{
  margin-bottom: 10px;
}

.custom-error-border {
  background-color: $alert-error;
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  height: 3px;
}

::ng-deep .mat-mdc-checkbox-ripple,
::ng-deep .mdc-checkbox__ripple {
  display: none;
}

::ng-deep .mat-mdc-checkbox-touch-target{
  display: none;
}

::ng-deep .mat-mdc-checkbox {
  display: flex;
  align-items: center;
  height: 25px;  
}

::ng-deep .mdc-label {
  color: white!important;
  opacity: 1!important;
}

.cs-player-label-text{
  margin: 0;
}

.player-label-container{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.cs-player-label-text::selection {
  background-color: transparent;
}

::ng-deep .mat-mdc-select-value{
  color: rgba(0, 0, 0, 0.6) !important;
}

::ng-deep.cdk-overlay-container{
  z-index: 9999 !important;
}
