@import '../../../../../variables.scss';

.team-delete-wrapper{
  background-color: $primary-color-light-2;
  overflow-y: auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.modal-action{
  background-color: $primary-color;
  margin: 0;
  font: inherit;
  color: white;
  cursor: pointer;
  outline: inherit;
  border: none;
  padding: 5px 20px;
  transition: .1s;
  font-size: 1rem;
  font-weight: 500;
  height: 40px;
  border-radius: 3px;
}

.modal-action:hover {
  background-color: $primary-hover-color;
}

.modal-actions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.team-delete-wrapper h5{
  color: white;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}

.modal-body{
  padding: 0;
  margin-bottom: 20px;
}
.modal-body p{
  margin: 0;
  color: white;
}

#modal-body-info{
  font-style: italic;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: .5;
}