@import '../../../../../variables.scss';

.players-selection-container{
  background-color: $primary-color-light;
  overflow-y: auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.players-selection-container h5{
  font-weight: 600;
  font-size: 1rem;
}

.ps-players-selection-content{
  max-height: 200px;
  overflow-y: auto;
}

.player-label {
  color: white;
  margin-bottom: 10px;
  font-weight: 500;
  margin-right: 20px;
}

.player-avatar{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

#ps-error-message{
  color: #f44336;
  margin: 0;
}

#ps-no-error{
  color: white;
  margin: 0;
}
  
.ps-form__button {
  background-color: $primary-color;
  font: inherit;
  color: white;
  cursor: pointer;
  outline: inherit;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px 30px;
  transition: .1s;
  margin: 0;
  margin-top: 20px;
}
  
.ps-form__button:hover {
  background-color: $primary-hover-color;
}

.ps-button-wrapper{
  display:flex;
  justify-content:center;
  align-items: center;;
}

.ps-custom-checkbox {
  display: flex;
  flex-direction: row;
}

::ng-deep .mat-mdc-checkbox-ripple,
::ng-deep .mdc-checkbox__ripple {
  display: none;
}

::ng-deep .mat-mdc-checkbox-touch-target{
  display: none;
}

::ng-deep .mat-mdc-checkbox {
  display: flex;
  align-items: center;
  height: 25px; 
}

::ng-deep .mdc-label {
  color: white!important;
  opacity: 1!important;
}

.ps-player-selection-state p{
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  color: $alert-error;
}

.ps-players-selection-container{
  margin-bottom: 10px;
}

.ps-players-selection-container h5{
  margin-bottom: 10px;
}