@import '../../../../variables.scss';
.bg-image__custom {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/bg-river.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.savage-lobby-details-header{
  width: 100%;
  position: relative;
  background-color: $primary-color;
  opacity: .9;
  display:flex;
  flex-direction: column;
  padding: 15px;
  gap: 5px;
  border-radius: 6px;
}
.savage-lobby-details-header h2{
  color: $white-grey;
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
}
.savage-lobby-details-header p{
  color: $white-grey;
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
}
.savage-lobby-details-infos{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.savage-lobby-details-col{
  display:flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.savage-lobby-leave-btn-wrapper{
  position: absolute;
  right: 15px;
  top: 15px;
}
.savage-lobby-leave-btn{
  background-color: rgba(41, 40, 36);
  color: $white-grey;
  border: none;
  outline: none;
  padding: 10px 15px;
  transition: 0.1s;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  height: 40px;
  border: 2px solid $white-grey;
}
.savage-lobby-leave-btn:hover{
  background-color: $primary-hover-color;
}
.sl-icon{
  color: $white-grey;
  transform: scale(1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: $primary-color;
  opacity: .9;
  padding: 15px;
  pointer-events:none;
  border-radius: 6px;
}
.card h5{
  color: $white-grey;
  margin: 0;
}
.sl-user-img {
  width: 24px;
  height: 24px;
  border-radius: 0;
}
.card-header-custom{
  display:flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.card-body-custom{
  margin-top: 5px;
}