<div class="page-header-custom">
  <div class="bg-image__custom"></div>

  <div class="homepage-wrapper">
    <!-- Homepage Section -->
    <div class="homepage">
      <div class="hero">
        <h1>SQUIRREL ARENA</h1>
        <h4>Get into DotA2 Scrims with minimal effort.</h4>
      </div>
    </div>

    <!-- Content Section -->
    <div class="content">
      <section class="about">
        <h2>ABOUT THE WEBSITE :</h2>
        <p>
          We are very aware that the site is not 100% finished. This is more like a beta version were our goal is to track the remaining bugs, errors, and see whether or not the users starts using it and give us feedbacks. We need feebacks to get to know which next functionnalities must be prioritized. Message me at discord @fedup6914.
        </p>
      </section>
      <section class="teams">
        <h2>TEAMS :</h2>
        <p>
          Each registered user can create or join a team.<br/>
          A team is mandatory to play Scrims.
        </p>
      </section>

      <section class="scrims">
        <h2>SCRIMS :</h2>
        <p>
          Since CM (Captain's Mode) has been removed from Dota search options, we decided it would be cool
          to bring it back to the teams that needed it.<br/>
          The tool includes 1v1, 2v2, 5v5, AP, RD, and CM options.<br/>
          It works based on UTC times, so it doesn't matter if you are from France or Brazil.<br/>
          To join a scrim, you need to send a scrim proposal to the other team. Only after the scrim proposal is accepted by the other team,
          then the scrim status will change to "READY".<br/>
          Another tool is Scrim History, where players can see their entire scrim history, or any scrim they joined/created.
        </p>
      </section>

     <!-- Début de la section LOBBY ALMOST SAUVAGE -->
      <!--
      <section class="lobby">
        <h2>LOBBY ALMOST SAUVAGE :</h2>
        <p>
          Each registered player can create or join a lobby.<br/>
          When a lobby reaches 10/10 players, it will automatically start.<br/>
          We are still working on the Leaderboard page.
        </p>
      </section>
      -->
      <!-- Fin de la section LOBBY ALMOST SAUVAGE -->

      <section class="must-know">
        <h2>MUST KNOW :</h2>
        <p>
          Lobbies are not automatically created, as players will have to do this manually with the given Lobby Name and Lobby Password so 
          all players can follow up easily.
        </p>
      </section>

      <section class="features">
        <h2>INCOMING FEATURES :</h2>
        <ul>
          <li>Better users data</li>
          <li>Notifications</li>
          <li>Discord bot</li>
          <li>Better match data</li>
        </ul>
      </section>
    </div>
  </div>
</div>