@import '../../../../variables.scss';
.bg-image__custom {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/bg-river.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.create-lobby-sauvage-btn{
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  opacity: 0.95;
  cursor: pointer;
  transition: .1s;
  border-radius: 3px;
  border: none;
  outline: none;
  margin-bottom: 15px;
}
.create-lobby-sauvage-btn:hover{
  background-color:  $primary-hover-color;
}
.add-icon {
  color: white;
  transform: scale(1.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
.title.text-custom{
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0;
  color:  white;
  padding: 10px 20px;
  background-color: $primary-color;
  border-radius: 3px;
}
.savage-lobby-list-header{
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
}
.card{
  background-color: $primary-color;
  opacity: .9;
}
.card h4{
  color: $grey-500 !important;
}
.card p{
  color: $white-grey !important;
}
.btn.btn-primary{
  background-color:  $primary-color-middle-light;
  color: $white-grey;
  transition: .1s;
  border: 2px solid $white-grey;
}
.btn.btn-primary:hover{
  background-color:  $primary-hover-color;
}
.savage-lobby-create-btn{
  background-color: rgba(41, 40, 36);
  color: $white-grey;
  border: none;
  outline: none;
  padding: 10px 15px;
  transition: 0.1s;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  height: 40px;
  opacity: .9;
}
.savage-lobby-create-btn:hover{
  background-color: $primary-hover-color;
}
.page-lobby-sauvages p{
  font-weight: bold;
  text-decoration: underline;
  color: black;
}
.alert-wrapper{
  position: relative;
  margin-top: -200px;
}