
$primary-color: rgb(41, 40, 36);
$primary-color-light: rgba(41, 40, 36,.95);

$primary-color-light-2: rgb(47, 46, 42);
$primary-color-middle-light: rgba(41, 40, 36,.8);
$primary-color-very-light: rgba(41, 40, 36,.25);
$primary-hover-color: #423E2A;
$primary-hover-color-light: #5f5834;
$alert-warning:rgba(158, 132, 0, 0.801);
$alert-success:rgba(0, 128, 0, .75);
$alert-error: #f44336;
$grey-500: rgba(119, 134, 119, 0.75);
$grey-900: rgb(73, 72, 68);

$alert-ready: rgb(29, 84, 194);

$white-grey: rgb(199, 199, 197);