@import '../../../../../variables.scss';

.proposal-details-container{
  background-color: $primary-color-light;
  overflow-y: auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 325px;
}

.player-avatar, .team-logo{
  padding: 0;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
  object-fit: cover;
}
.proposal-team-details{
  padding: 0;
  margin-bottom: 20px;
  display:flex;
  flex-direction: row;
  align-items: center;
}
.proposal-team-details h5{
  color: white;
  font-weight: 600;
  padding: 0;
  margin: 0;
  cursor:pointer;
}

.proposal-team-details h5:hover{
  text-decoration: underline;
}

.proposal-players-details{
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.proposal-players-details p{
  color: white;
  margin: 0;
}

.player-details, .proposal-team-details{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.captain-badge{
  height: 25px; 
  width: 25px;
  margin-left: 10px;
  margin-top: -5px;
}