.custom-dropdown-menu {
  max-width: 200px;
}
.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
