<div class="cgu-container">
<button class="close-button" (click)="close()">&#x2715;</button>
<h1>Terms of Use for Squirrel Arena</h1>
<div mat-dialog-content>
  <h6>Last Updated: 14/09/2024</h6>

  <p>Welcome to Squirrel Arena.
   By accessing or using this Website, you agree to be bound by these Terms of Use.
   If you do not agree with these Terms, please do not use the Website.</p>

  <h6>1. Acceptance of Terms</h6>
  <p>By using the Website, you acknowledge that you have read, understood,
   and agree to be bound by these Terms, which include our Privacy Policy.
  These Terms may be updated from time to time, and your continued use of the Website 
  constitutes your acceptance of any changes.</p>

  <h6>2. Purpose of the Website</h6>
  <p>The Website is designed to help users find Dota 2 teams and create on-the-spot lobbies for gameplay.
   The Website is provided for entertainment and community-building purposes and is not intended for
    any commercial transactions.</p>

  <h6>3. User Account and Authentication</h6>
  <p>To access certain features of the Website, you may be required to create an account
   and authenticate your identity. This process involves the use of an authentication token.
    You agree to provide accurate and complete information during the account creation process
     and to keep your account credentials confidential.</p>

  <h6>4. Use of Cookies</h6>
  <p>The Website uses cookies solely for the purpose of storing the authentication token necessary
   for user login and session management. We do not use cookies to gather any personal data or
    track your activity on the Website.</p>

  <h6>5. Prohibited Conduct</h6>
  <p id="minus-spe">You agree not to:</p>
  <ul>
    <li>Use the Website for any unlawful purpose or in violation of any applicable laws or regulations.</li>
    <li>Impersonate any person or entity or misrepresent your affiliation with any person or entity.</li>
    <li>Engage in any conduct that restricts or inhibits anyone's use or enjoyment of the Website.</li>
    <li>Attempt to interfere with the proper working of the Website, including but not limited to hacking, launching malicious software, or overloading the Website.</li>
  </ul>

  <h6>6. Intellectual Property</h6>
  <p>All content, trademarks, logos, and intellectual property on the Website are the property
   of Dota-Arena or its licensors. You agree not to use any of this content without our prior
    written permission.</p>

  <h6>7. Limitation of Liability</h6>
  <p>The Website is provided "as is" and "as available" without warranties of any kind,
   either express or implied. Dota-Arena does not warrant that the Website will be uninterrupted
    or error-free. In no event shall Dota-Arena be liable for any damages arising from your use of
     the Website.</p>

  <h6>8. Third-Party Links</h6>
  <p>The Website may contain links to third-party websites. These links are provided for your convenience
   only. Dota-Arena does not endorse or control the content of third-party websites and is
    not responsible for their content or practices.</p>

  <h6>9. Termination</h6>
  <p>Dota-Arena reserves the right to terminate or suspend your account and access to the
     Website at its sole discretion, without notice, for conduct that Dota-Arena believes violates 
     these Terms or is harmful to other users or the Website.</p>

  <h6>10. Governing Law</h6>
  <p>These Terms shall be governed by and construed in accordance with the laws of France,
     without regard to its conflict of law principles.</p>

  <h6>11. Contact Information</h6>
  <p>If you have any questions or concerns regarding these Terms,
   please contact us at <u>squirrel-arena@gmail.com.</u></p>
</div>

</div>